@model List<PROJETO01.Modelos.CadastroFesta>
<br />
<br />
<br />
<br />
<br />






<div class="container">
    <div class="row align-content-center">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card" style="width: 18rem; border:solid ; border-color:black; ">
                    <img class="card-img-top" src="@item.Imagem" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nome</h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> @item.DataFesta</li>
                            <li class="list-group-item">@item.Endereco</li>
                            <li class="list-group-item">@item.Bairro</li>
                            <li class="list-group-item">@item.PrecoIngresso</li>

                        </ul>
                        <br />
                        <a href="#" class="btn text-light" style="background-color:indigo">Participar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
